.box-p {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
    min-height: 90vh;
}

.title-home {
    text-align: center;
}

.p-home {
    padding: 50px 214px;
}

.bg-dark,
.bg-light {
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

