.calculadoraIMC {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  margin: auto;
  position: relative;
}

.calculadoraIMC button {
  width: 200px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.calculadoraIMC h3 {
  padding-bottom: 10px;
}