.container {
    background: linear-gradient(red,black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    margin: 200px auto;
    border-radius: 15px;
    padding: 80px 50px;
    color: white;
    font-family: monospace;
    box-shadow: 2px 4px 4px #333333;
}

input{
    padding: 20px;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 15px;
    outline: none;
    font-size: 10px;
    color: rgb(3, 3, 3);
    background-color: rgb(167, 167, 167);
}

::placeholder { 
    color: rgb(7, 7, 7);
}

p{
    margin: 50px 0 0 0;
    padding: 0;
}