.navbar{
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.box{
    display: flex;
    align-items: center;
    gap: 5px   ;
    padding: 10px 0;
}

.box, .imag{
    font-family: monospace;
    font-size: 15px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-link{
    display: flex;
    align-items: center;
}

.title{
    margin-left: 35px;
}

.imag{
    display: flex;
    gap: 10px;
}