.card {
  width: 250px;
  height: 180px;
  border: 2px solid;
  border-radius: 12px;
  box-shadow: 3px 3px 5px darkgray;
  padding: 15px;
  margin: 20px;

}

.cards {
  display: grid;
  justify-content: center;
  grid: repeat(2, [line1 line2 line3] 250px) / auto-flow 300px;
}